.Thumbnail {
    height: 75px;
    width: 200px;
    background: blue;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    background: linear-gradient(0deg, rgba(0,0,0,0.2987570028011205) 0%, rgba(0,0,0,0.304359243697479) 100%);
}

.Title {
    color: white;
    text-decoration: none;
}